// Logo
.Brand {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s all;

  &:hover {
    transform: translateY(-3px);
    color: rgba(0, 0, 0, 0.54);
    text-shadow: -5px 5px rgba(0, 0, 0, .1);
  }
}

// Nav

.nav {
  position: relative;

  &__list {
    display: flex;

    width: 100%;
  }

  &__item {
    transition: .5s all;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &_active {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  &__router {
    position: relative;
    display: flex;
    height: 5rem;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0 2rem;
    color: black;

    &:before {
      content: '';
      position: absolute;
      background-color: #000000;
      bottom: 0;
      width: 0;
      left: 0;
      height: 2px;
      transition: .3s ease;
    }

    &:hover:before {
      position: absolute;
      width: 100%;
    }
  }
}
//
.SwiperBox {
  position: relative;
  padding: 10rem 30rem;
  width: 800px;
  height: 300px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;

  &:hover{
    & .instBox{
      bottom: 10px;
    }

    & .leftBtn{
      left: 10px;

    }

    & .rightBtn{
      right: 10px;

    }
  }



}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 800px;
  height: 320px;
  display: flex;
  justify-content: flex-start;


}

/* 图片默认样式 */
.imgBox img {
  flex-shrink: 0;
  width: 800px;
  height: 320px;
}

/* 两个按钮共有的样式,也可直接使用箭头图片替代 */
.leftBtn,
.rightBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(109, 109, 109, 0.445);
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  transition: all .3s;

}

.leftBtn {
  left: -30px;

}

.rightBtn {
  right: -30px;
}

/* 下方指示器盒子 */
.instBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: ease .5s;
  display: flex;
}

/* 小圆点 */
.inst {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s;

  &:hover{
    width: 12px;
    height: 12px;
  }
}

.inst:last-child {
  margin-right: 0;
}

.instActv {
  background: #000000;
}

.Run {
  margin-top: 5rem;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}
